<h1>Shopping Cart</h1>

<div class="row col-10" *ngIf="cart">
  <p>
    You have {{qty}} items in your shopping cart
    <button (click)="clearCart()"  *ngIf="qty"
    [routerLink]="['/shopping-cart']" routerLinkActive="router-link-active"
    class="btn btn-outline-danger btn-sm">
      Clear Shopping Cart
    </button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class = "text-center" style="width: 230px;">Quantity</th>
        <th class = "text-right" style="width: 200px;">Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.product">
        <td><div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail" ></div></td>
        <td>{{item.name}}</td>
        <td class = "text-center" >{{item.quantity}}</td>
        <td class = "text-right" >{{item.quantity*item.price | currency: 'USD'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
          <th></th>
          <th></th>
          <th></th>
        <th class = "text-right" >{{totalPrice | currency: 'USD'}}</th>
      </tr>
    </tfoot>
  </table>
  <a class="btn btn-primary" *ngIf="qty"
  routerLink="/checkout/{{totalPrice}}">
    Check Out
  </a>
</div>
