<div class="row">

  <div class="col">
    <div class="row justify-content-md-around">
      <ng-container *ngFor="let item of products let i = index">
        <div class="card-deck mb-5">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" style="height: 200px; width: 100%" [src]="item.imageUrl">
            <div class="card-body">
              <h4 class="card-title">{{item.name}}</h4>
              <p class="card-text">{{item.price | currency:'USD':true}}</p>
            </div>
            <div class="card-footer">
              <button *ngIf="getQuantity(item) === 0;  else updateQuantity" (click)="addToCart(item)"
                class="btn btn-primary btn-block">Add to Cart</button>

              <ng-template #updateQuantity>
                <div class="row no-gutters">
                  <div class="col-2">
                    <button (click)="removeFromCart(item)"
                    class="btn btn-primary btn-block">-</button>
                  </div>
                  <div class="col text-center">
                    {{ getQuantity(item) }} in cart
                  </div>
                  <div class="col-2">
                    <button (click)="addToCart(item)"
                     class="btn btn-primary btn-block">+</button>
                  </div>
                </div>

              </ng-template>
            </div>
          </div>
        </div>
        <div *ngIf="(i +1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
  <div class="col-3">
    Cart Here
  </div>
</div>
