<div class="row">

  <div class="col">
    <div class="row justify-content-md-around">
      <ng-container *ngFor="let p of products let i = index">
        <div class="card-deck mb-5">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" style="height: 200px; width: 100%" [src]="p.imageUrl">
            <div class="card-body">
              <h4 class="card-title">{{p.name}}</h4>
              <p class="card-text">{{p.price | currency:'USD':true}}</p>
            </div>
            <div class="card-footer">
              <button (click)="addToCart(p)"
              class="btn btn-primary btn-block">Add to Cart</button>
            </div>
          </div>
        </div>
        <div *ngIf="(i +1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
  <div class="col-3">
    Cart Here
  </div>
</div>
